::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-face-color: #f0f0f0;
  scrollbar-arrow-color: #000000;
  scrollbar-track-color: #f0f0f0;
  scrollbar-shadow-color: #f0f0f0;
  scrollbar-highlight-color: #f0f0f0;
  scrollbar-3dlight-color: #f0f0f0;
  scrollbar-darkshadow-color: #f0f0f0;
  scrollbar-base-color: #f0f0f0;
  scrollbar-track-color: #f0f0f0;
  scrollbar-width: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: 0; /* "thin" 或者 "auto" 或者 "none" */
  scrollbar-color: #a1a1a1 #eaeaea; /* 颜色值 */
}

*::-webkit-scrollbar {
  width: 0;
}

.App {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: red;
}

.view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #eee;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
}
